:root {
    --blocks-gap: 1.25rem;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: var(--blocks-gap);
}

.w100 {
    width: 100%;
}

.btn-link {
    background: none;
    border: 0;
    padding: 0;
    text-decoration: underline;
    color: #069;
}
